In [1]:
import pandas as pd
#import depency

In [2]:
#Read the file into a dataframe
file = "Resources/Purchase_Data.csv"
df = pd.read_csv(file)
#Run a .head() to check to make sure its pulling in correctly
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Get the total number of unique screen names (SN)
player_count = df["SN"].nunique()
player_count = pd.DataFrame({"Player Count":[player_count]})
player_count

   Player Count
0           576

In [4]:
#Do some calcs - number of unique items, average purchase price, number of purchases, ttl rev
#then make a quick summary dataframe
item_count = df["Item Name"].nunique()
avg_purchase_price = df["Price"].mean()
count_purchases = df["Price"].count()
ttl_rev = df["Price"].sum()

Purchase_Analysis = pd.DataFrame({"Item Count": [item_count], 
                                  "Avg Purchase Price": [avg_purchase_price],
                                  "Number of Purchases": [count_purchases],
                                  "Total Revenue": [ttl_rev]
                                 })
#format the two prices into dollars
Purchase_Analysis["Avg Purchase Price"] = Purchase_Analysis["Avg Purchase Price"].map("${:.2f}".format)
Purchase_Analysis["Total Revenue"] = Purchase_Analysis["Total Revenue"].map("${:.2f}".format)
Purchase_Analysis

   Item Count Avg Purchase Price  Number of Purchases Total Revenue
0         179              $3.05                  780      $2379.77

In [5]:
#player count needs not be a dataframe
player_count = player_count.iloc[0,0]
#Percentage and count of male players
#Percentage and count of female players
#Percentage and Count of other/non-disclosed

just_male = df.loc[df["Gender"]=="Male",:]
just_female = df.loc[df["Gender"]=="Female",:]
just_other = df.loc[df["Gender"]=="Other / Non-Disclosed",:]
male_count = just_male["SN"].nunique()
female_count = just_female["SN"].nunique()
other_count = just_other["SN"].nunique()
percent_male = male_count/player_count
percent_female = female_count/player_count
percent_other = other_count/player_count

demographics = pd.DataFrame({"Count":[male_count,
                                       female_count,
                                       other_count],
                              "Percentage" : [percent_male,
                                             percent_female,
                                             percent_other]})
demographics["Percentage"] = demographics["Percentage"].map("{:.2%}".format)
demographics = demographics.rename(index={0:"Male",1:"Female",2:"Other"})
demographics

        Count Percentage
Male      484     84.03%
Female     81     14.06%
Other      11      1.91%